#leftbox {
	float: left;
	width: 300px;
	
}

#header {
    margin-top: 10px;
    color: #FFD100;
    width: 980px;
    border-bottom: 1px solid #463108;   
    position: relative;
    height: 36px;
}
    #header > .left {
        font-size: 14px;
        font-weight: bold;
        height: 36px;
        line-height: 36px;
    }
    #header .right {        
        height: 36px;
        float: right;
        font-weight: normal;
        font-size: 13px;
    }
        #header .right div {
            line-height: 36px; height: 36px; text-align: center; float: left;
        }
            #header .right div a { text-decoration: none; color: #FFD100; }
        #header .right .left {
            width: 110px;
        }
            #header .right .left.bg { background: url('/media/gfx/ranking/zakladka_ranking_lokali.png'); }
        #header .right .right {
            width: 162px;            
        }        
            #header .right .right.bg { background: url('/media/gfx/ranking/zakladka_ranking_userow.png'); }
    #header .bottom { clear: both; }
#rankingbox {
    width: 620px;
    margin-left: 60px;
    float: right;
}    
    #rankingbox > .header {
        color: #FFD100;
        font-size: 13px;
        margin-top: 5px;
        height: 20px;
    }
        #rankingbox .header > * { float: left; height: 100%; }
        #rankingbox .header .b_toplokale { font-weight: bold; width: 220px; }
        #rankingbox .header .b_nazwalokalu { width: 310px; }

        #rankingbox .header .u_topuserzy { font-weight: bold; width: 220px; }
        #rankingbox .header .u_nazwausera { width: 150px; }
        #rankingbox .header .u_obecnymies { width: 160px; }
        
    #rankingbox .entry { clear: both; height: 110px; }
        
        #rankingbox .entry > * { float: left; }
        #rankingbox .entry .position { width: 50px;
            height: 100%;
            color: #FFD100;
            font-size: 12px;
            text-align: center;
        }      
        #rankingbox .entry .imgbox { 
            width: 142px;
            height: 100%;
            
        }   
            #rankingbox .entry .imgbox.bar { background: url('/media/gfx/ranking/cien_miniaturka.png') bottom center no-repeat; } 
            #rankingbox .entry .imgbox.user { background: url('/media/gfx/ranking/awatar_cien.png') bottom center no-repeat; }
            #rankingbox .entry .imgbox.user > a { text-align: auto; }
            #rankingbox .entry .imgbox .avatar {
                margin-top: 14px;
                margin-left: 29px;
            }
        #rankingbox .entry .description {
            margin-left: 21px;
            width: 407px; height: 98px;
            background: url('/media/gfx/ranking/opis_baru_tlo.png') no-repeat top;
            position: relative;
        }
            #rankingbox .entry .description .name {
                margin-left: 10px;
                margin-top: 8px;
                color: #a88905;
                font-size: 13px;
            }
                #rankingbox .entry .description .name a {
                    color: #a88905;
                    text-decoration: none;
                    font-size: 13px;
                }
            #rankingbox .entry .description .descr {
                position: absolute;
                top: 30px;
                left: 10px;
                right: 70px;
            }
                #rankingbox .entry .description .descr a {
                    font-size: 12px;
                    color: #a88905;
                    text-decoration: none;
                }
            #rankingbox .entry .description .mpoints {
                position: absolute;
                top: 15px; right: 150px;
                color: #FFD100;
                font-size: 20px;
            }
            #rankingbox .entry .description .average {
                position: absolute;
                top: 15px; right: 10px;
                color: #FFD100;
                font-size: 20px;            
            }
                #rankingbox .entry .description .average a {
                    color: #FFD100;
                    font-size: 20px;
                    text-decoration: none;
            }
    #rankingbox .dropbar {
        width: 100%;
        position: relative;
        height: 35px;
    }
        #rankingbox .dropbar .left {
            position: absolute; left: 0;
            width: 143px;
            height: 35px;
            float: left;
            background: url('/media/gfx/ranking/button_poprzednia.png');
        }
            #rankingbox .dropbar .left:hover {
                background: url('/media/gfx/ranking/button_poprzednia_p.png');       
            }
        #rankingbox .dropbar .right {
            position: absolute; right: 0;
            width: 134px;
            height: 35px;
            float: right;
            background: url('/media/gfx/ranking/button_nastepna.png');
        }
            #rankingbox .dropbar .right:hover {
                background: url('/media/gfx/ranking/button_nastepna_p.png');
            }
        #rankingbox .center {
            position: absolute;
            left: 143px; right: 134px;
            top: 8px;
            text-align: center;
            height: 27px;
        }
            #rankingbox .center > * { 
                display: inline-block; 
                line-height: 25px;
                height: 27px;
                font-size: 14px;
                width: 27px; 
                text-align: center;
            }
            #rankingbox .center .ico_o {
                background: url('/media/gfx/ranking/paginacja_tlo.png');
            }
                #rankingbox .center .ico_o a {
                    color: #FFD100;
                    text-decoration: none;
                }
            #rankingbox .center .ico_c {
                background: url('/media/gfx/ranking/paginacja_tlo_p.png');
            }
                #rankingbox .center .ico_c a {
                    color: rgb(80, 55, 15);
                    text-decoration: none;
                }



/* as searching is based on this layout, their CSS goes here.
search-specific extensions follow: */

#searchbox {    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 620px;
    position: relative;
    height: 92px;
    background: url('/media/gfx/index/searchbox.png') no-repeat;
}
    #searchbox input {
        display: block;
        position: absolute;
        border: none;
        padding: 0; margin: 0;
        top: 37px; left: 72px;
        width: 309px;
        height: 26px;
        background-color: transparent;
        
        color: #ffd100;
        font-size: 12px;
    }
    #searchbox > .header {
        margin-left: 20px;
        font-size: 14px;
        color: #ffd100;
        font-weight: bold;
    }
    #searchbox > .submit {
        position: absolute;
        left: 410px;
        top: 25px;
        width: 63px;
        height: 48px;
        background: url('/media/gfx/index/searchbar_b.png');        
    }
        #searchbox > .submit > a {
            display: block;
            width: 100%;
            height: 100%;
        }
    #searchbox > .submit:hover { background: url('/media/gfx/index/searchbar_b_p.png');  }



.search_not_found {
    color: #A88905;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 20px;
}

#header .right .s_left {
    width: 155px;
}
    #header .right .s_left.bg { background: url('/media/gfx/search/lokal.png'); }
#header .right .s_right {
    width: 197px;            
}        
    #header .right .s_right.bg { background: url('/media/gfx/search/user.png'); }


/* only for bar management list */
        .manage_button {
            position: absolute; right: 0px !important;
            width: 88px; height: 23px; background: url('/media/gfx/manage_bar/zarzadzaj.png') no-repeat;
        }
            .manage_button:hover {
                background: url('/media/gfx/manage_bar/zarzadzaj_p.png') no-repeat;
            }
