#form_box {
    margin-top: 30px;
    position: relative;
    margin-bottom: 10px;
}
#form_box > .header {
    font-size: 12px;
    color: #ffcc00;
    font-weight: bold;
    width: 960px;
    line-height: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(101, 70, 16);
}
    .textbox {
        width: 340px;
    }
        .header {
            width: 340px;
            padding-right: 29px;
            font-size: 28px;
            color: #FFCC00;
            font-weight: bold;
            background: url('/media/gfx/what_is_trybar/cien.png') bottom no-repeat;
            padding-bottom: 7px;
        }
        .textbox ul {
            list-style-type: none; margin-bottom: 30px; padding-left: 0px;
            width: 340px;
        }
        .textbox ul li {
            margin: 10px 0 0 0;            
            font-size: 18px;
            color: #CFAA60;            
        }
#right_selbox {
    float: right;    
    margin-right: 30px;
    font-size: 12px;
    color: #956e0f;
}    
    #right_selbox a { text-decoration: none; color: #FFCC00; }
    #right_selbox input { z-index: 2; }
    #right_selbox .skip {
        width: 231px;
        height: 49px;
        line-height: 49px;
        font-size: 13px;
        color: #FFCC00;
        background: url('/media/gfx/what_is_trybar/button.png') no-repeat;
        font-weight: bold;
        text-align: center;
    }
        #right_selbox .skip .sbl {
            font-size: 0.8em;
            color: #956e0f;
        }
        #right_selbox .skip:hover {
            text-decoration: underline !important;
        }
        #right_selbox .shr { margin-left: 30px; }
#flush_decor {
    background: url('/media/gfx/what_is_trybar/obrazek_tlo.png');
    width: 583px;
    height: 573px;
    position: absolute;
    right: 0;
    top: 135px;
}