{% extends "base.html" %}
{% load photo %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/media/css/ranking.css">
    <link rel="stylesheet" type="text/css" href="/media/css/sub/my_account.css">
    <link rel="stylesheet" type="text/css" href="/media/css/sub/news.css">
{% endblock %}

{% block body %}
    <div id="header">
        <div class="right">
            <div class="left bg"><a href="/ranking/bars/" class="gba">Ranking lokali</a></div>
            <div class="right"><a href="/ranking/users/" class="gba">Ranking użytkowników</a></div>
        </div>
        <div class="left">RANKING</div>
        <div class="bottom"></div>            
    </div>

    <div id="leftbox">
        {% if request.user != None %}
        <div id="my_acc">
            <span class="header">MOJE KONTO<a href="#">Edytuj profil >></a></span>
            <div class="info">
                <img src="{{ request.user.avatar|path:"avatar:84,84" }}" alt="awatar">
                <div class="stats">
                    <div>Ranking: <span>{{ profile_ranking }}</span></div>
                    <div>Punkty: <span>{{ profile_points }}</span></div>
                    <div>Stały bywalec: <span>{{ profile_frequenter }}</span></div>
                    <div>Znajomi: <span>{{ profile_familiars }}</span></div>
                    <div>Poczta: <span>NI</span></div>
                    <div>Lokale: <span>{{ profile_bars }}</span></div>
                </div>
            </div>
            <div class="buttons">
                <img id="b_mygal" src="/media/gfx/profil/b_mygal.png" onmouseover='img_hover("b_mygal", "_h");' onmouseout='img_hover("b_mygal", "");'>
                <img id="b_foto" src="/media/gfx/profil/b_foto.png" onmouseover='img_hover("b_foto", "_h");' onmouseout='img_hover("b_foto", "");'>
                <img id="b_msg" src="/media/gfx/profil/b_msg.png" onmouseover='img_hover("b_msg", "_h");' onmouseout='img_hover("b_msg", "");' onclick='msg();'>
                <img id="b_places" src="/media/gfx/profil/b_places.png" onmouseover='img_hover("b_places", "_h");' onmouseout='img_hover("b_places", "");'>
            </div>
        </div>  
        {% endif %}

        <div style="height: 30px; width: 100%;"></div>

        <div id="recentbox">
            <div class="header">
                <div class="left">AKTUALNOŚCI</div>
                <div class="right"><a href="#">Starsze aktualności <span class="more">>></span></a></div>
            </div>
            {% for news in newsbar %}
                {% if forloop.first %}<div class="first">{% else %}<div class="elem">{% endif %}

                <a class="header" href="#">{{ news.title }}</a>
                {% if forloop.first %}
                    <div class="content">{{ news.get_summary}} <span class="more">>></span></div>
                {% endif %}
                <div class="datetime">{{ news|date:"Y.m.d H:i" }}</div>
            </div>
            {% endfor %}
        </div>             
    </div>
    <div id="rankingbox">
        <div class="header">
            <div class="toplokale">TOP LOKALE</div>
            <div class="nazwalokalu">Nazwa lokalu</div>
            <div>Średnia ocen</div>
        </div>
        {% for bar in page.object_list %}
        <div class="entry">
            <div class="position">{{ bar.meta.rank }}</div>
            <div class="imgbox"><a href="/bar/{{ bar.slugname }}/"><img src="{{ bar.get_representative_photo|path:"barphoto:137,97" }}"></a></div>
            <div class="description">
                <div class="name"><a href="#">{{ bar.name }}</a></div>
                <div class="descr"><a href="#">{{ bar.description|slice:":160" }}</a></div>
                <div class="average"><a href="#">{{ bar.meta.avg }}</a></div>
            </div>
        </div>
        {% endfor %}
        <div class="dropbar">
                {% if page.has_previous %}
                    <div class="left"><a href="/ranking/users/{{ page.previous_page_number }}/" class="gba"></a></div>
                {% endif %}
                <div class="center">
                    {% for page_n in page_iter %}
                        {% if page_n == page.number %}
                            <div class="ico_c"><a class="gba" href="/ranking/users/{{ page_n }}/">{{ page_n }}</a></div>
                        {% else %}
                            <div class="ico_o"><a class="gba" href="/ranking/users/{{ page_n }}/">{{ page_n }}</a></div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if page.has_next %}
                    <div class="right"><a href="/ranking/users/{{ page.next_page_number }}/" class="gba"></a></div>
                {% endif %}
        </div>
    </div>
    <div style="clear: both;"></div>
{% endblock %}