{% extends "base.html" %}
{% load photo %}
{% load core %}
{% load ads %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/media/css/birthday.css">
{% endblock %}

{% block ad %}{{ 9|html_ad }}{% endblock %}



{% block body %}
<div id="form_box">
    <div class="header">PROMOCJA -50%</div>

    <div id="centerbox">
        <div class="header">
            <div class="ln1">24 STYCZNIA</div>
            <div><span class="ln2">PROMOCJA </span> <span class="ln3"> -50%</span></div>
            <div class="ln5">P I W O</div>
            <div class="ln4">DOSTĘPNA W:</div>
        </div>
        <div class="rankingbox">
            <div class="header">
                <div class="b_toplokale"></div>
                <div class="b_nazwalokalu">Nazwa lokalu</div>
                <div>Średnia ocen</div>
            </div>
            {% for bar in promo_bary %}
            <div class="entry">
                <div class="imgbox bar"><a href="/bar/{{ bar.slugname }}/"><img src="{{ bar.get_representative_photo|path:"barphoto:137,97" }}"></a></div>
                <div class="description">
                    <div class="name"><a href="/bar/{{ bar.slugname }}/">{{ bar.name }}</a></div>
                    <div class="descr"><a href="/bar/{{ bar.slugname }}/">{{ bar.description|word_slice:":10" }}</a></div>
                    <div class="average"><a href="/bar/{{ bar.slugname }}/">{{ bar.meta.avg|round_float:"2" }}</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="http://www.vidmofonica.pl/" target="_blank">
            <img src="/media/gfx/birthday/vidmofonica.png">
        </a>
    </div>
    <div class="gclear"></div>
</div>
{% endblock %}
