{% extends "base.html" %}
{% load photo %}
{% load core %}
{% load ads %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/media/css/birthday.css">
{% endblock %}

{% block ad %}{{ 9|html_ad }}{% endblock %}



{% block body %}
<div id="form_box">
    <div class="header">URODZINY</div>

    <div id="centerbox">
        <div class="header">
            <div class="ln1">Z OKAZJI ZBLIŻAJĄCYCH SIĘ ANDRZEJEK</div>
            <div class="ln2">23 LISTOPADA</div>
            <div><span class="ln3">PIZZA 30%</span> <span class="ln4">TAŃSZA</span></div>
            <div><span class="ln5">W</span> <span class="ln6">JAROSŁAWIU</span></div>
            <div class="ln8">PROMOCJA DOSTĘPNA W</div>
        </div>
        <div class="rankingbox">
            <div class="header">
                <div class="b_toplokale"></div>
                <div class="b_nazwalokalu">Nazwa lokalu</div>
                <div>Średnia ocen</div>
            </div>
            {% for bar in promo_bary %}
            <div class="entry">
                <div class="imgbox bar"><a href="/bar/{{ bar.slugname }}/"><img src="{{ bar.get_representative_photo|path:"barphoto:137,97" }}"></a></div>
                <div class="description">
                    <div class="name"><a href="/bar/{{ bar.slugname }}/">{{ bar.name }}</a></div>
                    <div class="descr"><a href="/bar/{{ bar.slugname }}/">{{ bar.description|word_slice:":10" }}</a></div>
                    <div class="average"><a href="/bar/{{ bar.slugname }}/">{{ bar.meta.avg|round_float:"2" }}</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    
        <div class="ln11">PROMOCJA JEST MOŻLIWA DO ZREALIZOWANIA</div>
        <div class="ln12">TYLKO I WYŁĄCZNIE WEWNĄTRZ LOKALI</div>
        <div class="ln13">OZNACZA TO, ŻE PIZZA NA DOWÓZ</div>
        <div class="ln14">KOSZTUJE NORMALNIE</div>

        <div class="ln15"></div>

        <div><span class="ln16">W PRZYPADKU LOKALI</span> <span class="ln17">DA SALVATORE</span></div>
        <div><span class="ln18">PROMOCJI</span> <span class="ln19">PIZZA -30%</span> <span class="ln18">NIE MOŻNA</span></div>
        <div><span class="ln20">ŁĄCZYĆ Z WEWNĘTRZNYMI</span></div>
        <div><span class="ln21">PROMOCJAMI LOKALU</span></div>

        <div class="ln15"></div>
        <div class="sphdr">PARTNERZY</div>
        <a href="http://sklepgoblina.pl/" target="_blank">
            <img src="/media/gfx/birthday/sklepgoblina.png">
        </a>
        <a href="http://www.vidmofonica.pl/" target="_blank">
            <img src="/media/gfx/birthday/vidmofonica.png">
        </a>
        <a href="http://www.kolordruk.com.pl/" target="_blank">
            <img src="/media/gfx/birthday/kolordruk.jpg">
        </a>
    </div>
    <div class="gclear"></div>
</div>
{% endblock %}
