{% extends "base.html" %}
{% load photo %}
{% load core %}
{% load ads %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/media/css/index.css">
{% endblock %}
{% block ad %}{{ 0|html_ad }}{% endblock %}

{% block body %}
<div id="content">
    <div id="decoration"></div>

    <div id="top_places">
        <div class="header">TOP LOKALE</div>

        {% for bar in top_3_bars %}
            <div class="elem">
                <div class="left"><div class="elem{{ forloop.counter }}"></div></div>
                <div class="center">
                    <a class="gba" href="/bar/{{ bar.slugname }}/"><img src="{{ bar.get_representative_photo|path:"barphoto:137,97" }}"></a>
                </div>
                <div class="right">
                    <div class="title"><a href="/bar/{{ bar.slugname }}/">{{ bar.name }}</a></div>
                    <div class="text">
                        <a href="/bar/{{ bar.slugname }}/">{{ bar.description|word_slice:":10" }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        <div class="more"><a href="/ranking/bars/"></a></div>
    </div>
    <div id="searchbox">
        <div class="header">WYSZUKIWARKA</div>
        <form action="/search/bars/" method="get" id="sform">
            <input type="text" name="q" value="Wpisz nazwę miasta lub lokalu, którego szukasz" onclick="this.value=''">
        </form>
        <div class="submit"><a href="#" onclick="$('#sform')[0].submit()"></a></div>
    </div>
       
    <div id="recentbox">
        <div class="header">
            <div class="left">AKTUALNOŚCI</div>
            <div class="right"><a href="/news/">Starsze aktualności <span class="more">»</span></a></div>
        </div>
        {% for news in news %}
            {% if forloop.first %}
                <div class="first">
                    <a class="header" href="/news/{{ news.id }}/">{{ news.title }}</a>
                    <div class="content"><a href="/news/{{ news.id }}/">{{ news.content|slice:":40" }} <span class="more">>></span></a></div>
                    <div class="datetime">{{ news.published_on|date:"Y.m.d H:i" }}</div>
                </div>
            {% else %}
                <div class="elem">
                    <a class="header" href="/news/{{ news.id }}/">{{ news.title }}</a>
                    <div class="datetime">{{ news.published_on|date:"Y.m.d H:i" }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    
    <div id="whatistrybar">
        <div class="header">CZYM JEST TRYBAR?</div>
        <div class="elem left"><a href="/what_is_trybar/">Wyszukiwarką lokali »</a></div>
        <div class="elem right"><a href="/what_is_trybar/">Opiniotwórczą platformą »</a></div>
        <div class="elem left"><a href="/what_is_trybar/">Narzędziem dla właścicieli »</a></div>
        <div class="elem right"><a href="/what_is_trybar/">Miejscem na lokalną promocję »</a></div>
    </div>
</div>    
</div>
{% endblock %}