{% extends "base.html" %}
{% load photo %}
{% load ads %}
{% load core %}
{% load humanize %}

{% block head %}
    <script type="text/javascript" src="/media/js/shoutbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/css/now.css">
    <link rel="stylesheet" type="text/css" href="/media/css/sub/my_account.css">
    <link rel="stylesheet" type="text/css" href="/media/css/sub/news.css">
    <link rel="stylesheet" type="text/css" href="/media/css/sub/shoutbox.css">
{% endblock %}
{% block ad %}{{ 7|html_ad }}{% endblock %}

{% block body %}
<div id="form_box">
    <div class="header">
        AKTUALNOŚCI
    </div>

    {% for an, arg1, arg2 in accnew_items %}
    <div id="comments_box">
        <div class="ago">{{ accnew.when|naturaltime }}</div>
        <div class="box{% if not an.readed %} hilit{% endif %}">
            <table>
                <tr>
                    <td class="img"><a href="/profile/{{ an.who.id }}/"><img src="{{ an.who.avatar|path:"avatar:84,84" }}"></a></td>
                    {% if an.report_type == RT_AVATAR_ADDED %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> ustawił sobie nowy awatar</td>
                        <td></td>
                    {% endif %}
                    {% if an.report_type == RT_PRIVPHOTO_ADDED %}
                        <td>NotImplemented</td>
                        <td>NotImplemented</td>
                    {% endif %}
                    {% if an.report_type == RT_COMMENT_PRIVGAL %}
                        <td>NotImplemented</td>
                        <td>NotImplemented</td>
                    {% endif %}
                    {% if an.report_type == RT_BECAME_FAMILIAR %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> został znajomym użytkownika <a href="/profile/{{ arg1.id }}/">{{ arg1.login }}</a></td>
                        <td><a href="/profile/{{ arg1.id }}/"><img src="{{ arg1.avatar|path:"avatar:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_UNBECAME_FAMILIAR %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> nie jest już znajomym użytkownika <a href="#">{{ arg1.login }}</a></td>
                        <td><a href="/profile/{{ arg1.id }}/"><img src="{{ arg1.avatar|path:"avatar:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_COMMENT_BAR %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> skomentował bar <a href="/bar/{{ arg1.slugname }}/">{{ arg1.name }}</a></td>
                        <td><a href="/bar/{{ arg1.slugname }}/"><img src="{{ arg1.get_representative_photo|path:"barphoto:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_IS_FREQUENTER %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> został stałym bywalcem w <a href="/bar/{{ arg1.slugname }}/">{{ arg1.name }}</a></td>
                        <td><a href="/bar/{{ arg1.slugname }}/"><img src="{{ arg1.get_representative_photo|path:"barphoto:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_NOT_FREQUENTER %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> już nie jest stałym bywalcem w <a href="/bar/{{ arg1.slugname }}/">{{ arg1.name }}</a></td>
                        <td><a href="/bar/{{ arg1.slugname }}/"><img src="{{ arg1.get_representative_photo|path:"barphoto:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_ADDED_BAR %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> dodał bar <a href="/bar/{{ arg1.slugname }}/">{{ arg1.name }}</a></td>
                        <td><a href="/bar/{{ arg1.slugname }}/"><img src="{{ arg1.get_representative_photo|path:"barphoto:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_ADDED_EVENT %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> dodał nowe wydarzenie w barze <a href="/bar/{{ arg1.bar.slugname }}/">{{ arg1.bar.name }}</a></td>
                        <td><a href="#"><img src="{{ arg1.logo|path:"eventlogo:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_WILL_GO_EVENT %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> weźmie udział w wydarzeniu <a href="#"{{ arg1.name }}</a></td>
                        <td><a href="#"><img src="{{ arg1.logo|path:"eventlogo:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_WONT_GO_EVENT %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> nie weźmie udziału w wydarzeniu <a href="#"{{ arg1.name }}</a></td>
                        <td><a href="#"><img src="{{ arg1.logo|path:"eventlogo:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_WAS_ON_EVENT %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> wziął udział w wydarzeniu <a href="#"{{ arg1.name }}</a></td>
                        <td><a href="#"><img src="{{ arg1.logo|path:"eventlogo:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_WASNT_ON_EVENT %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> nie wziął udziału w wydarzeniu <a href="#"{{ arg1.name }}</a></td>
                        <td><a href="#"><img src="{{ arg1.logo|path:"eventlogo:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_BARPHOTO_ADDED %}
                        <td>Użytkownik <a href="/profile/{{ an.who.id }}/">{{ an.who.login }}</a> dodał nowe zdjęcie do baru <a href="/bar/{{ arg2.bar.slugname }}/">{{ arg2.bar.name }}</a></td>
                        <td><a href="/bar/{{ arg2.slugname }}/"><img src="{{ arg2.get_representative_photo|path:"barphoto:84,84" }}"></a></td>
                    {% endif %}
                    {% if an.report_type == RT_EVENTPHOTO_ADDED %}
                        <td>NotImplemented</td>
                        <td>NotImplemented</td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
        {{ an.was_readed }}  {# function that signs off current an as readed #}
    {% endfor %}
    
    <div id="left_panel">
        {% include "includes/profile.html" %}
        {% include "includes/shoutbox.html" %}
        {% include "includes/news.html" %}
    </div>

    <div class="gclear"></div>
{% endblock %}
