{% load photo %}
{% load core %}
{% load humanize %}
<div id="my_acc">
    <div class="header">MOJE KONTO<a href="/profile/edit/">Edytuj profil »</a></div>
    <div class="info">
        <img src="{{ request.user.avatar|path:"avatar:84,84" }}" alt="awatar">
        <div class="stats">
            <div><a href="#">Ranking: </a><span><a href="#">
                {% if profile_ranking %}{{ profile_ranking }}{% else %}Brak{% endif %}
            </a></span></div>
            <div>Punkty: <span>{{ profile_points }}</span></div>
            <div>Stały bywalec: <span>{{ profile_frequenter }}</span></div>
            <div><a href="/profile/{{ request.user.id }}/familiars/">Znajomi: </a><span><a href="/profile/{{ request.user.id }}/familiars/">{{ profile_familiars }}</a></span></div>
            <div><a href="/profile/messages/">Poczta: </a><span><a href="/profile/messages/">{{ profile_messages }}</a></span></div>
            <div><a href="/profile/{{ request.user.id }}/bars/">Lokale: </a><span><a href="/profile/{{ request.user.id }}/bars/">{{ profile_bars }}</a></span></div>
        </div>
    </div>
    <div class="buttons">
        <a href="/profile/{{ request.user.id }}/gallery/"><img id="b_mygal" src="/media/gfx/profil/b_mygal.png" onmouseover='img_hover("b_mygal", "_h");' onmouseout='img_hover("b_mygal", "");'></a>
        <!--<a href="/building/"><img id="b_foto" src="/media/gfx/profil/b_foto.png" onmouseover='img_hover("b_foto", "_h");' onmouseout='img_hover("b_foto", "");'></a> -->
        <a href="/profile/message/send/"><img id="b_msg" src="/media/gfx/profil/b_msg.png" onmouseover='img_hover("b_msg", "_h");' onmouseout='img_hover("b_msg", "");'></a>
        <a href="/profile/bars/"><img id="b_places" src="/media/gfx/profil/b_places.png" onmouseover='img_hover("b_places", "_h");' onmouseout='img_hover("b_places", "");'></a>
    </div>
</div>  