{% extends "base.html" %}
{% load photo %}
{% load core %}
{% load ads %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/media/css/ranking.css">
    <link rel="stylesheet" type="text/css" href="/media/css/sub/my_account.css">
    <link rel="stylesheet" type="text/css" href="/media/css/sub/news.css">
{% endblock %}
{% block ad %}{{ 2|html_ad }}{% endblock %}

{% block body %}
    <div id="header">
        <div class="right">
            <div class="s_left bg"><a href="/search/bars/" class="gba">Wyszukiwarka lokali</a></div>
            <div class="s_right"><a href="/search/users/" class="gba">Wyszukiwarka użytkowników</a></div>
        </div>
        <div class="left">WYSZUKIWARKA</div>
        <div class="bottom"></div>            
    </div>

    <div id="leftbox">
        {% if request.user != None %}
            {% include "includes/profile.html" %}
        {% endif %}

        {% include "includes/news.html" %}
    </div>
    <div id="rankingbox">

        <div id="searchbox">
            <div class="header">WYSZUKIWARKA</div>
            <form action="/search/bars/" method="get" id="sform">
                {% if query %}
                    <input type="text" name="q" value="{{ query }}">
                {% else %}
                    <input type="text" name="q" value="Szukaj miasta lub lokalu" onclick="this.value=''">
                {% endif %}                
            </form>
            <div class="submit"><a href="#" onclick="$('#sform')[0].submit()"></a></div>
        </div>    
        {% if nothing_found %}
            <div class="search_not_found">Brak wyników wyszukiwania</div>
        {% elif page_iter != None %}
            <div class="header">
                <div class="b_toplokale"></div>
                <div class="b_nazwalokalu">Nazwa lokalu</div>
                <div>Średnia ocen</div>
            </div>
            {% for bar in page.object_list %}
            <div class="entry">
                <div class="position"></div>
                <div class="imgbox bar"><a href="/bar/{{ bar.slugname }}/"><img src="{{ bar.get_representative_photo|path:"barphoto:137,97" }}"></a></div>
                <div class="description">
                    <div class="name"><a href="/bar/{{ bar.slugname }}/">{{ bar.name }}</a></div>
                    <div class="descr"><a href="/bar/{{ bar.slugname }}/">{{ bar.city }}</a></div>
                    <div class="average"><a href="/bar/{{ bar.slugname }}/">
                        {% if bar.meta.avg == None %}Brak{% else %}{{ bar.meta.avg|round_float:"2" }}{% endif %}</a></div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <div class="dropbar">
                {% if page.has_previous %}
                    <div class="left"><a href="/search/bars/{{ page.previous_page_number }}/?q={{ query }}" class="gba"></a></div>
                {% endif %}
                <div class="center">
                    {% for page_n in page_iter %}
                        {% if page_n == page.number %}
                            <div class="ico_c"><a class="gba" href="/search/bars/{{ page_n }}/?q={{ query }}">{{ page_n }}</a></div>
                        {% else %}
                            <div class="ico_o"><a class="gba" href="/search/bars/{{ page_n }}/?q={{ query }}">{{ page_n }}</a></div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if page.has_next %}
                    <div class="right"><a href="/search/bars/{{ page.next_page_number }}/?q={{ query }}" class="gba"></a></div>
                {% endif %}
        </div>
    </div>
    <div style="clear: both;"></div>
{% endblock %}