{% extends "base.html" %}
{% load ads %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/media/css/gpinfo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
{% endblock %}
{% block ad %}{{ 12|html_ad }}{% endblock %}

{% block body %}
    <span id="header_top">INFORMACJA</span>
    <div id="pole">
        <div>
            {{ info|safe }}
        </div>
    </div>
    
    <a href="{{ next_url|safe }}"><img id="guzik" src="/media/gfx/gpinfo/button_dalej.png" alt="dalej"></a>
{% endblock %}